@use '@baseline/components/styles/global' as g;

.container {
  @include g.v-stack;

  form {
    @include g.v-stack;

    .action {
      @include g.h-stack;
      justify-content: space-between;
      button {
        flex: 1;
      }
    }
  }
}

.label {
  display: flex;
  gap: 4px;
  align-items: center;
  width: 150px;
}
